<h1>Poodle Love</h1>
<div class="images">
  <% @images.map do |image| %>
  <div class="image">
    <img src=<%= image.url %> alt="dog">
      <select class="dropdown">
        <option value="0">Select Ranking</option>
        <option value="1">Best</option>
        <option value="2">Great</option>
        <option value="3">Good</option>
        <option value="4">Cute</option>
        <option value="5">Shoo</option>
      </select>
      <button class="button" name="button">Rank!</button>
  </div>
  <% end %>
</div>
